<!DOCTYPE html>
<html lang="en">

<head>
  {{> _head}}
</head>

<body>
  <div id='root'>
    {{> _header}}
    {{> _navbar}}
    <main class='max-w-3xl'>
      {{{content}}}
    </main>
    {{> _footer}}
  </div>
  <script src={{myProject.rootPath}}{{getObjectProperty assets "main.js"}}></script>
</body>

</html>
