<nav class='navbar'>
  <div class='navbar__item{{#ifEq page.url '/'}} navbar__item--is-active{{/ifEq}} my-1'>
    <a href={{ url '/' }} class='pseudo-underline'>Home</a>
  </div>
  <button class='hamburger-toggle' aria-label="toggle collapsible navigation menu"
    aria-controls="navbarCollapsibleGroup" aria-expanded="false">
    {{> hamburger-icon}}
  </button>
  <ul class='navbar__collapsible-group' id='navbarCollapsibleGroup'>
    {{#each navbarItems as | navItem |  }}
    <li class='navbar__item{{#ifEq ../page.url navItem.slug}} navbar__item--is-active{{/ifEq}}'><a
        href={{ url navItem.slug }} class='pseudo-underline'>{{navItem.text}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
