---
layout: base-layout.hbs
title: Page Not Found
permalink: 404.html
---

<h2 class='text-4xl text-center capitalize font-bold my-8'>Page Not Found</h2>
<p class='mb-6'>Here's a link back home, friend.</p>
<a class='btn btn--inverse' href='/'>Home</a>
