---
layout: base-layout.hbs
title: Page Not Found
permalink: 404.html
---

<h2 class='text-4xl text-center capitalize font-bold my-5'>Page Not Found</h2>
<a href='/'>Here's a link back home, friend.</a>
