---
layout: base-layout.hbs
title: Home
description: Psychology focused writing by Brandon Mooney
pagination:
  data: collections.posts
  size: 12
  reverse: true
---

<h2 class='text-4xl text-center capitalize font-bold my-8'>Please take me home</h2>
<ul class="flex flex-col items-center mx-auto max-w-sm sm:max-w-2xl xl:max-w-3xl mb-10">
  {{#each pagination.items  as | post | }}
  {{> card post}}
  {{/each}}
</ul>
<div class="flex mb-12">
  {{#if pagination.href.previous}}
  <span class='mr-auto'><a class='rounded px-4 md:px-5 py-3 md:py-4 text-sm sm:text-base bg-green-500 text-white' href="{{ pagination.href.previous }}">Newer Posts</a></span>
  {{/if}}

  {{#if pagination.href.next}}
  <span class='ml-auto'><a class='rounded px-4 md:px-5 py-3 md:py-4 text-sm sm:text-base bg-green-500 text-white' href="{{ pagination.href.next }}">Older Posts</a></span>
  {{/if}}	
</div>
