---
layout: _base-layout.hbs
title: Psychic Voyages
---

<h2 class='text-4xl text-center capitalize font-bold my-8'>This is a hub for my writing.</h2>
<ul class="flex flex-col items-center mx-auto max-w-sm sm:max-w-2xl xl:max-w-3xl">
  {{#each collections.posts  as | post | }}
  {{> _post-card post}}
  {{/each}}
</ul>
