.footnotes-list {
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 16px;
}

.footnote-item {
  @apply mb-2 text-sm;
}

.footnote-ref {
  @apply text-green-500 relative;
}
