.tooltip-container {
  @apply absolute max-w-sm text-sm rounded;
  /* line-height: 1.5em; */
  /* border: 1px solid #c8ccd1;   */
  background-color: #fbfbfb;
  box-shadow: 0 -1px 25px -5px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;

  &--is-active {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
    }
  }

  &--is-right {
    &::before {
      left: 0;
      margin-left: 12px;
    }
  }

  &--is-left {
    &::before {
      right: 0;
      margin-right: 12px;
    }
  }

  &--is-top {
    &::before {
      top: calc(100% - 4px);
      border-top: 12px solid #fbfbfb;
    }
  }

  &--is-bottom {
    &::before {
      bottom: calc(100% - 4px);
      border-bottom: 12px solid #fbfbfb;
    }

    .tooltip {
      @apply pt-6 pb-4 mb-0;
      margin-top: -0.5rem;
    }
  }
}

.tooltip {
  @apply px-3 pt-4 pb-6;
  margin-bottom: -0.5rem;

  &-text {
    &:not(:last-child) {
      @apply mb-3;
    }
  }
}
